<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.fruitice.trome.feature">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter
                android:autoVerify="true"
                android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="trome.fruitice.fr"
                    android:pathPattern="/.*"
                    android:scheme="https" />
                <data
                    android:host="trome.fruitice.fr"
                    android:pathPattern="/.*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="default-url"
                android:value="https://trome.fruitice.fr/" />
        </activity>
        <activity
            android:name=".LineActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="trome.fruitice.fr"
                    android:pathPattern="/line/.*"
                    android:scheme="https" />
                <data
                    android:host="trome.fruitice.fr"
                    android:pathPattern="/.*"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StationActivity"
            android:label="test"
            android:parentActivityName=".LineActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.fruitice.trome.feature.LineActivity" />

            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="trome.fruitice.fr"
                    android:pathPattern="/line/.*/station/.*"
                    android:scheme="https" />
                <data
                    android:host="trome.fruitice.fr"
                    android:pathPattern="/.*"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyTheme.FullWhite">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.fruitice.trome.feature.MainActivity" />

            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="trome.fr"
                    android:pathPattern="/search/*."
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreditsActivity"
            android:label="@string/title_activity_credits"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.fruitice.trome.feature.MainActivity" />

            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="trome.app"
                    android:pathPattern="/credits"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>